{% extends "layout.html" %}

{% block title %}
     About
{% endblock %}

{% block content %}
<div class="love">
    <h1>About Us</h1>
    <h2>Become a Part of Our Story of Changing the Horizon of Screen Displays</h2>
</div>
<div class="lov">
    <section class="lo">
        <div class="lie" >
            <img src="imgs/img5.jpg" width="100%" height="100%">
        </div>
      <div class="abt">
        <h2 style="text-align: center;">The perfect screens</h2>
        <p style="text-align: center;">KayStore, founded in 2024, is one of the 
        world's leading television companies.
        KayStores continues to evolve with the industry 
        and changing lifestyles by creating new 
        opportunities in the consumer and commercial 
        markets, establishing a new ecosystem, and 
        introducing intetgrated applications and 
        products that combine hardware, software, 
        and services. With a long term mission of
        "Breaking barriers between people and technology" 
        KayStore is also committed to environmental, 
        social, and governance (ESG) initiatives.</p>
        <br>
        <h2 style="text-align: center;">Cooperate with Talents around the world</h2>
        <p style="text-align: center;">KayStore, as a multinational corperate, has over 700 employees worldwide dedicated to research, design, marketing, sale and support of products and solutions. Our presence spans accross 60 countries. If you are looking to engage and interact with global talents, welcome to join us and embark on an international journey!</p>
        <br>
        <h2 style="text-align: center;">Intrapreneurship</h2>
        <p style="text-align: center;">KayStore strengthens its corporate resilience through the strategy of establishing multiple business engines, which include sectors such as apparel, home appliances, AI-assisted medical solutions, e-mobility, smart cities, cyber security and more. <br>Currently, we have 10 public subsidiaries in Ghana. Joining KayStore offers the oppotunity to embrace a diverse and expansive future.</p>
      </div>
    </section>
</div>
{% endblock %}