{% extends "layout.html" %}

{% block title %}
     Home
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <img src="Images/sit.png" height="70%" width="80%">
  </div>
  
              <div style="text-align: center;">
                  <h1 style="padding-bottom: 20px;">Explore our lineup of extraordinary TVs.</h1>
                  <p style="padding-bottom: 15px;">Discover the TV that is right for you.</p>
              </div>
              <br>
  
        <div style=" display: flex; flex-wrap: wrap; justify-content: space-around;">
  
  
                  <div class="key">
                   <a href="details2.html"><h1 style="padding-left: 45px;">LCD TV</h1></a>
                  </div>
                  <div class="key">
                    <a href="details3.html"><h1 style="padding-left: 50px;">LED TV</h1></a>
                   </div>
                   <div class="key">
                    <a href="details7.html"><h1 style="padding-left: 5px;">MicroLED TV</h1></a>
                   </div>
                   <div class="key">
                    <a href="details6.html"><h1 style="padding-left: 15px;">MiniLED TV</h1></a>
                   </div>
                   <div class="key">
                    <a href="details.html"><h1 style="padding-left: 25px;">Plasma TV</h1></a>
                   </div>
                   <div class="key">
                    <a href="details4.html"><h1>Neo QLED TV</h1></a>
                   </div>
                   <div class="key">
                    <a href="details5.html"><h1 style="padding-left: 35px;">QLED TV</h1></a>
                   </div>
                   <div class="key">
                    <a href="details8.html"><h1 style="padding-left: 25px;">Projectors</h1></a>
                   </div>
                
                
                    
                </div>
              
      <div style="display: flex;flex-wrap: wrap;">
          <div class="col-2">
              <img src="Images/longest.png">
          </div>
          <div class="col-2" style="margin-top: 30px; padding-left: 100px;">
              <h1>You can count <br> oN us</h1>
               <p style="font-size: 30px; padding-bottom: 5px;">#1 in Overall Quality.</p>
               <p style="font-weight: 400; padding-bottom: 10px;">KayStore TVs have ranked #1 for 3 years in a row</p>
               <i>Compared to all other measured TV manufacturers in the 2023 American Customer Satisfaction Index surveys of customer rating their own TV manufucturer's performance. The #1 rating is shared with three other TV manufacturers. The American Customer Satisfaction Index is a national measure of customer satisfaction since 1994, trusted by the US government and reflecting annual feedback from more han 250K US customers. ACSI and its logo are registered trademarks of the American Customer Satisfaction Index LLC.</i>
        </div>
      </div>
  
      <div style="display: flex;flex-wrap: wrap;">
          <div class="row"></div>
          <div class="col-2" style="margin-top: 100px; text-align: center;">
             <h1>Give Your Workout <br> A New Style!</h1>
             <p>Success isn't always about greatness. It's about consistency. Consistent <br>hard work gains success. Greatness will come.</p>
             <a href="Product-details.html" class="button">Explore Now &#8594;</a>
          </div>
          <div class="col-2">
              <img src="Images/img13.png">
          </div>
      </div>
  
      <div style="display: flex;flex-wrap: wrap;">
        <div class="row"></div>
        <div class="col-2">
          <img src="Images/lap.png">
      </div>
        <div class="col-2" style="margin-top: 100px; padding-left: 100px;">
           <h1>Nail your first <br> impression</h1>
           <p style="font-size: 30px; padding-bottom: 15px;">NeoSlim Design</p>
           <p style="font-weight: 600;">If you're like us, you just  can't stand it when presentation is <br> an afterthought. With its NeoSlim Design,vthis TV is ultra- <br>slim silhouette and hexagonal plate standnails that first <br>impression.</p>
        </div>
    </div>
  
    <div style="display: flex;flex-wrap: wrap;">
      <div class="row"></div>
      <div class="col-2" style="margin-top: 100px; padding-left: 50px; padding-right: 100px;">
         <h1>Boss mode</h1>
         <p style="font-size: 30px; padding-bottom: 15px;">Motion Xcelerator Turbo+ <br> (4K@120Hz)</p>
         <p>Why go slow when you can play smooth-even during super-fast gaming content. Feel the thrill with smooth performance during even the fastest games and action scenes. Keep up with the supersonic speed and catch every thrilling frame without lag or motion blur. Instead, you'll enjoy seamless action and sensational 4K visuals at speeds up to 120Hz.</p>
      </div>
      <div class="col-2">
          <img src="Images/longer.png">
      </div>
  </div>
  
      <div class="offer">
          <div class="small-container">
              <div class="row">
                  <div class="col-2">
                      <img src="Images/img14.png" class="offer-img">
                  </div>
                  <div class="col-2">
                      <h4>Exclusively Available on KayStore</h4>
                      <h1>Smart LED TV</h1>
                      <small>The Smart LED features a 39.9% larger AMOLED color full-touch display with adjustable brightness, so everything is clear as can be.</small>
                      <br>
                      <a href="Product-details.html" class="button">Buy Now &#8594;</a>
                  </div>
  
              </div>
          </div>
      </div>
  
      
  
              <!-----------brands---------->
              <div class="brands">
                  <div class="small-container">
                      <div class="row">
                          <div class="col-5">
                              <a href="https://www.samsung.com/us/"><img src="Images/samsung.png"></a>
                          </div>
                          <div class="col-5">
                              <a href="https://www.sony.com/en/"><img src="Images/sony.png"></a>
                          </div>
                          <div class="col-5">
                              <a href="https://www.lg.com/us"><img src="Images/lg.png"></a>
                          </div>
                          <div class="col-5">
                              <a href="https://www.asus.com/"><img src="Images/asus.png"></a>
                          </div>
                          <div class="col-5">
                              <a href="https://www.usa.canon.com/"><img src="Images/canon.png"></a>
                          </div>
                      </div>
                  </div>
              </div>
{% endblock %}