{% extends "layout.html" %}

{% load static %}

{% block title %}
     Product
{% endblock %}

{% block content %}




{% for product in phone %}

{% comment %} <div class="fight">
<div class="fight-container">
  <div class="smile" data-name="p-1">
    <img src="{{ product.image.url }}" width="100%">
    <h3>{{ product.name }}</h3>
    <div class="price">${{ product.price }}</div>
  </div>
  <div class="buttons">
        <a href="#" class="buy">buy now</a>
        <a href="/add-cart/{{ product.id }}" class="cart">add to cart</a>
      </div>
</div>
</div>

  <div class="products-preview">
    <div class="preview" data-target="p-1">
      <i class="fas fa-times"></i>
      <img src="{{ product.image.url }}" width="100%">
      <div class="buttons">
        <a href="#" class="buy">buy now</a>
        <a href="/add-cart/{{ product.id }}" class="cart">add to cart</a>
      </div>
      <h3>{{ product.name }}</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span>( 250 )</span>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequator, dolorem.</p>
      <div class="price">${{ product.price }}</div>
      <div class="buttons">
        <a href="#" class="buy">buy now</a>
        <a href="/add-cart/{{ product.id }}" class="cart">add to cart</a>
      </div>
    </div>
  </div>

</a> {% endcomment %}

<a href="/detail/{{ product.id }}">

<div class="product">
  <div class="pr-new">
      <div class="list-item">
          <div class="item">
              <a href="/detail/{{ product.id }}"><img src="{{ product.image.url }}" alt=""></a>
              <div class="des">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <p><a href="/detail/{{ product.id }}">{{ product.name }}</a></p>
                  <button>4K</button>
                  <button>55 inch</button>
                  <p>Price: ${{ product.price }}</p>
                  <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="/add-cart/{{ product.id }}" class="cart">add to cart</a>
                  </div>
              </div>
              
          </div>
          
          
          
      </div>
      <div class="v-more">
        <a href="{% url 'product_list' %}"><button>MOre...</button></a>
      </div>
  </div>

</a>
  {% endfor %}
  



  {% endblock %}