{% extends "layout.html" %}



{% block title %}
     Product
{% endblock %}

{% block content %}
{% load static %}


{% if searched %}



<section>
    <div class="boss">
        <div class="mycontain">
          <input type="text" placeholder="Search... {{ searched }} ">
        </div>
      </div>

    
      <br>
    

    <div class="product">
        <div class="pr-new">
            <div class="list-item">
              {% for product in phone %}
                <div class="item">
                    <a href="/detail/{{ product.id }}"><img src="{{ product.image.url }}" alt=""></a>
                    <div class="des">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p><a href="/detail/{{ product.id }}">{{ product.name }}</a></p>
                        <button>4K</button>
                        <button>55 inch</button>
                        <p>Price: ${{ product.price }}</p>
                        <div class="buttons">
                          <a href="#" class="buy">buy now</a>
                          <a href="/add-cart/{{ product.id }}" class="cart">add to cart</a>
                        </div>
                    </div>
                    
                </div>

                {% endfor %}

</section>

{% else %}
<div>
    <h1>You Forgot To Search...</h1>
</div>

{% endif %}

{% endblock %}





