{% extends "layout.html" %}



{% block title %}
     Product
{% endblock %}

{% block content %}
{% load static %}






 <div class="small-container single-product">
  <div class="row">
   <div class="col-2">  
       <img src="{% static 'ProductImages/Images/pic1.jpg' %}" width="100%" id="Product-img">

       <div class="small-img-row">
          <div class="small-img-col">
           <img src="{% static 'ProductImages/Images/pic2.jpg' %}" width="100%" class="small-img">
          </div>
          <div class="small-img-col">
           <img src="{% static 'ProductImages/Images/pic3.jpg' %}" width="100%" class="small-img">
          </div>
          <div class="small-img-col">
           <img src="{% static 'ProductImages/Images/pic4.jpg' %}" width="100%" class="small-img">
          </div>
          <div class="small-img-col">
           <img src="{% static 'ProductImages/Images/pic1.jpg' %}" width="100%" class="small-img">
          </div>
         
       </div>
   </div>
   <div class="col-2" style="text-align: center;">
       <p>Home / TVs</p>
       <h1>Full HD television by Insignia</h1>
       <h4>$3,150.00</h4>
       <select>
           <option>24 inches</option>
           <option>28 inches</option>
           <option>32 inches</option>
           <option>42 inches</option>
           <option>48 inches</option>
           <option>55 inches</option>
           <option>65 inches</option>
       </select>
       <input type="number" value="1">
       <a href="/add-cart/{{ phone.id }}" class="button">Add To Cart</a>
       <h3>Product Details </h3>
       <br>
       <p>INSIGNIA 50-inch class F30 Series LED 4K UHD Smart Fire TV with Alexa Voice Remote(NS-50F301NA24)</p>
   </div>
  </div>
</div>

<!-- -------TITLE-------- -->
<div class="small-container">
  <div class="row row-2">
     <h2>Related Products</h2>
     <p>View More</p>
  </div>
</div>


<div class="row">
   <div class="col-4">
     <img src="{% static 'ProductImages/Images/img18.png' %}">
       <h4 style=" text-align: center;">LED Screen</h4>
       <div class="stars" style="text-align: center;">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star-half-alt"></i>
           <i class="fa-regular fa-star"></i>
           <i class="fa-regular fa-star"></i>
           <span>( 250 )</span>
         </div>
       <p style=" text-align: center;">$1,639.00</p>
   </div>
   <div class="col-4">
     <img src="{% static 'ProductImages/Images/img17.png' %}">
       <h4 style=" text-align: center;">LCD TV</h4>
       <div class="stars" style="text-align: center;">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fa-regular fa-star"></i>
           <i class="fa-regular fa-star"></i>
           <i class="fa-regular fa-star"></i>
           <span>( 250 )</span>
         </div>
       <p style=" text-align: center;">$2,299.00</p>
   </div>
   <div class="col-4">
     <img src="{% static 'ProductImages/Images/img16.png' %}">
       <h4 style=" text-align: center;">Smart LED TV</h4>
       <div class="stars" style="text-align: center;">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star-half-alt"></i>
           <i class="fa-regular fa-star"></i>
           <span>( 250 )</span>
         </div>
       <p style=" text-align: center;">$1,299.00</p>
   </div>
   <div class="col-4">
     <img src="{% static 'ProductImages/Images/img17.png' %}">
       <h4 style=" text-align: center;">Samsung LED TV</h4>
       <div class="stars" style="text-align: center;">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star-half-alt"></i>
           <span>( 250 )</span>
         </div>
       <p style=" text-align: center;">$2,299.00</p>
   </div>
</div>

{% endblock %}