<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
           Ecommerce
        {% endblock %}
    </title>
    
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/app.js' %}" ></script>
</head>
<body>
    <nav>

        <div class="container" style="background: yellowgreen;">
            <div class="navbar">
              <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'ProductImages/All Products - STORE_files/logo.png' %}" width="125px"></a>
              </div>
              <nav>
                <i class="fa-solid fa-heart"></i>
                <ul id="MenuItems">
                  <li><a href="{% url 'home' %}">Home</a></li>  
                  <li><a href="{% url 'product_list' %}">Products</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="{% url 'login' %}">Account</a></li>
                  <li><a href="{% url 'product_list' %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg></a></li>
                 
                <li><a href="{% url 'Show_Cart' %}"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg></a></li> 
              </ul>    
              </nav>     
              <a href="{% url 'Show_Cart' %}"><img src="{% static 'ProductImages/ICONS/cart.png' %}" width="30px" height="30px"></a>
              <img src="{% static 'ProductImages/ICONS/menu-icon.png' %}" class="menu-icon" onclick="menutoggle()">
            </div>
            </div>

    </nav>


    
    <main>
        {% block content %}
        {%  endblock %}
    </main>

    <div class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-col-1">
                  <h3>Download Our App</h3>
                  <p style="color: white;">Download App for Android and ios mobile phones.</p>
                  <div class="app-logo">
                      <a href="https://play.google.com/store/games?hl=en"><img src="{% static 'ProductImages/Images/goplay.png' %}"></a>
                     <a href="https://www.apple.com/app-store/"><img src="{% static 'ProductImages/Images/appstore.png' %}"></a>
                  </div>
              </div>
              <div class="footer-col-2">
                <a href="{% url 'home' %}"><img src="{% static 'ProductImages/All Products - STORE_files/logo.png' %}" alt=""></a>
                  <p style="color: white;">Our Purpose Is To Sustainably Make the Pleasure and Benefits of Media Accessible to the Many</p>
              </div>
              <div class="footer-col-3">
                  <h3>Useful Links</h3>
                  <ul style="color: white; list-style: none; text-decoration: none;">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'product_list' %}">Products</a></li>
                      <li><a href="{% url 'login' %}">Accounts</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </div>
              <div class="footer-col-4">
                  <h3>Follow Us</h3>
                  <ul>
                      <li>Facebook</li>
                      <li>Twitter</li>
                      <li>Instagram</li>
                      <li>YouTube</li>
                  </ul>
              </div>
          </div>
          <hr>
          <p class="copyright">Copyright 2024 - Easy Tutorials</p>
      </div>
  </div>
  <script>
    var MenuItems = document.getElementById("MenuItems");
  
    MenuItems.style.maxHeight = "0px";
  
    function menutoggle(){
      if(MenuItems.style.maxHeight == "0px")
          {
            MenuItems.style.maxHeight = "200px";
          }
          else
          {
            MenuItems.style.maxHeight = "0px";
          }
    }
  </script>
  
  
  <script src="{% static 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}" ></script>
    
</body>
</html>