{% extends "layout.html" %}

{% load static %}

{% block title %}
     Cart
{% endblock %}

{% block content %}

<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
       {% for cart in cart %}

       <tr>
        <td>
            <div class="cart-info">
                <img src="{{ cart.product.image.url }}" width="30%">
                <div>
                    <p>{{ cart.product.name }}</p>
                    <Small>Price:${{ cart.product.price }}</Small>
                    <br>
                    <a href="">Remove</a>
                </div>
            </div>
        </td>
        <td><input type="number" value="1"></td>
        <td>${{ cart.Total_cost }}</td>
        </tr>

       {% endfor %}
        
           
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$2000.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$230.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$2230.00</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}